@model doan3.Models.CtDangKyThi

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CtDangKyThi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KythiId" class="control-label"></label>
                <select asp-for="KythiId" class ="form-control" asp-items="ViewBag.KythiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HosoId" class="control-label"></label>
                <select asp-for="HosoId" class ="form-control" asp-items="ViewBag.HosoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Thoigiandk" class="control-label"></label>
                <input asp-for="Thoigiandk" class="form-control" />
                <span asp-validation-for="Thoigiandk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thoigianthi" class="control-label"></label>
                <input asp-for="Thoigianthi" class="form-control" />
                <span asp-validation-for="Thoigianthi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LichthiId" class="control-label"></label>
                <select asp-for="LichthiId" class ="form-control" asp-items="ViewBag.LichthiId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
