@model doan3.Models.LichHoc

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LichHoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LopId" class="control-label"></label>
                <select asp-for="LopId" class ="form-control" asp-items="ViewBag.LopId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TgBatdau" class="control-label"></label>
                <input asp-for="TgBatdau" class="form-control" />
                <span asp-validation-for="TgBatdau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TgKetthuc" class="control-label"></label>
                <input asp-for="TgKetthuc" class="form-control" />
                <span asp-validation-for="TgKetthuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhthuchoc" class="control-label"></label>
                <input asp-for="Hinhthuchoc" class="form-control" />
                <span asp-validation-for="Hinhthuchoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noidung" class="control-label"></label>
                <input asp-for="Noidung" class="form-control" />
                <span asp-validation-for="Noidung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
