@model doan3.Models.ThanhToan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ThanhToan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ThanhtoanId" />
            <div class="form-group">
                <label asp-for="TenThanhToan" class="control-label"></label>
                <input asp-for="TenThanhToan" class="form-control" />
                <span asp-validation-for="TenThanhToan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotien" class="control-label"></label>
                <input asp-for="Sotien" class="form-control" />
                <span asp-validation-for="Sotien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trangthai" class="control-label"></label>
                <input asp-for="Trangthai" class="form-control" />
                <span asp-validation-for="Trangthai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ghichu" class="control-label"></label>
                <input asp-for="Ghichu" class="form-control" />
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phuongthuc" class="control-label"></label>
                <input asp-for="Phuongthuc" class="form-control" />
                <span asp-validation-for="Phuongthuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
