@model doan3.Models.PhanCongGiamSat

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PhanCongGiamSat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PhancongGsId" />
            <div class="form-group">
                <label asp-for="NguoigsId" class="control-label"></label>
                <select asp-for="NguoigsId" class="form-control" asp-items="ViewBag.NguoigsId"></select>
                <span asp-validation-for="NguoigsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaithiId" class="control-label"></label>
                <select asp-for="BaithiId" class="form-control" asp-items="ViewBag.BaithiId"></select>
                <span asp-validation-for="BaithiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vaitro" class="control-label"></label>
                <input asp-for="Vaitro" class="form-control" />
                <span asp-validation-for="Vaitro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ghichu" class="control-label"></label>
                <input asp-for="Ghichu" class="form-control" />
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
